.home {
    /*width: 100%;*/
    /*height: 100%;*/
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  background-image: url("michal-parzuchowski-GikVY_KS9vQ-unsplash.jpg");
}
